.header {
  background-image: url(../images/image-bg.png);
  background-size: cover;
  background-position: center; }
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; }
  .header__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;
    margin: 0;
    padding-bottom: 40px; }
    @media (min-width: 576px) {
      .header__title {
        padding-bottom: 64px; } }
    @media (min-width: 576px) {
      .header__title {
        font-size: 48px;
        line-height: 48px; } }
    @media (min-width: 1024px) {
      .header__title {
        font-size: 56px;
        line-height: 56px; } }

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(./../images/icons/icon-burger-menu.svg);
  background-size: cover;
  transition: transform 0.3s; }
  .icon:hover {
    transform: scale(1.2); }
  @media (min-width: 576px) {
    .icon {
      height: 32px;
      width: 32px; } }
  .icon--phone {
    background-image: url(./../images/icons/icon-phone.svg);
    position: relative; }
    @media (min-width: 1024px) {
      .icon--phone::after {
        content: "+1 234 555-55-55";
        color: #1b2129;
        text-decoration: none;
        position: absolute;
        width: 139px;
        font-size: 12px;
        letter-spacing: 2;
        font-family: "Inter", sans-serif;
        line-height: 16px;
        opacity: 0;
        top: 8px;
        right: 8px;
        transition: 0.3s; }
      .icon--phone:hover::after {
        opacity: 1; } }
  .icon--menu {
    background-image: url(./../images/icons/icon-burger-menu.svg); }
    .icon--menu:hover {
      background-image: url(./../images/icons/icon-burger-menu-hover.svg); }
  .icon--close {
    background-image: url(./../images/icons/icon-close.svg); }

.menu {
  font-weight: 700;
  box-sizing: border-box;
  height: 100vh;
  background-color: #f9f9f9; }
  .menu__top {
    margin-bottom: 32px; }
  .menu__nav {
    margin-bottom: 40px; }
  .menu__phone-number {
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    margin-bottom: 16px; }
  .menu__call-to-order {
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: fit-content;
    padding-bottom: 4px;
    border-bottom: 1px solid #1b2129; }

.nav__link {
  text-decoration: none;
  color: inherit;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  position: relative; }
  .nav__link::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: #1b2129;
    transform: scale(0);
    transition: transform 0.3s;
    transform-origin: left; }
  .nav__link:hover::after {
    transform: scale(1); }

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px; }

.page {
  font-family: "Manrope", sans-serif;
  color: #1b2129;
  scroll-behavior: smooth; }
  .page__body {
    margin: 0;
    min-width: 320px;
    overflow-x: hidden; }
  .page__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-100%);
    pointer-events: none; }
    .page__menu:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all; }

.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 576px) {
    .top-bar {
      padding-block: 32px; } }
  @media (min-width: 1024px) {
    .top-bar {
      padding-block: 36px; } }
  .top-bar__logo-link {
    display: flex; }
  .top-bar__logo {
    display: flex;
    width: 152px;
    height: 16px;
    transition: transform 0.3s; }
    .top-bar__logo:hover {
      transform: scale(1.2); }
    @media (min-width: 576px) {
      .top-bar__logo {
        width: 228px;
        height: 24px; } }
  .top-bar__icons {
    display: flex;
    gap: 24px; }

.section-title {
  font-family: inherit;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #1b2129;
  text-align: left;
  margin: 0;
  margin-bottom: 48px; }
  @media (min-width: 576px) {
    .section-title {
      margin-bottom: 56px;
      font-size: 40px; } }
  @media (min-width: 1024px) {
    .section-title {
      font-size: 48px; } }
  .section-title--contact {
    margin-top: 64px; }
    @media (min-width: 576px) {
      .section-title--contact {
        margin-top: 120px; } }

.main {
  background-color: #fff; }
  .main__content {
    display: grid;
    row-gap: 96px;
    padding-block: 96px; }
    @media (min-width: 576px) {
      .main__content {
        row-gap: 120px;
        padding-block: 120px; } }

.container {
  padding-inline: 20px; }
  @media (min-width: 576px) {
    .container {
      padding-inline: 72px; } }
  @media (min-width: 1024px) {
    .container {
      max-width: 1020px;
      margin-inline: auto;
      padding-inline: 120px; } }

.product__photo {
  width: 100%; }
.product__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #1b2129; }
.product__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #1b2129; }
.product__price {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #1b2129; }

.recommended__products {
  display: grid;
  row-gap: 40px; }
  @media (min-width: 576px) {
    .recommended__products {
      justify-items: center; } }
  @media (min-width: 1024px) {
    .recommended__products {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      justify-items: stretch; } }

.product__photo {
  transition: transform 0.3s; }
  .product__photo:hover {
    transform: scale(1.05); }

.timeless__photo {
  width: 100%;
  object-fit: cover;
  height: 200px; }
  @media (min-width: 576px) {
    .timeless__photo {
      height: 400px; } }
  @media (min-width: 1024px) {
    .timeless__photo {
      height: 460px; } }
.timeless__bg {
  width: 100%;
  background-color: #fcfaef;
  display: flex;
  justify-content: center;
  align-items: center; }
.timeless__title {
  margin: 0;
  margin-bottom: 24px;
  color: #1b2129;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px; }
  @media (min-width: 576px) {
    .timeless__title {
      color: #1b2129;
      font-size: 40px;
      line-height: 40px;
      grid-column: 1 / 4; } }
  @media (min-width: 1024px) {
    .timeless__title {
      color: #1b2129;
      font-size: 48px;
      line-height: 48px;
      grid-column: 1 / 7; } }
.timeless__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.15px;
  color: #1b2129;
  margin: 0;
  margin-top: 24px; }
  @media (min-width: 576px) {
    .timeless__description {
      grid-column: 4 / 7;
      margin-top: 0; } }
  @media (min-width: 1024px) {
    .timeless__description {
      grid-column: 8 / 13; } }
.timeless__content {
  margin-block: 48px; }
  @media (min-width: 576px) {
    .timeless__content {
      --columns: 2;
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat(var(--columns), 1fr); } }
  @media (min-width: 576px) and (min-width: 576px) {
    .timeless__content {
      --columns: 6;
      column-gap: 24px; } }
  @media (min-width: 576px) and (min-width: 1024px) {
    .timeless__content {
      --columns: 12; } }

  @media (min-width: 576px) {
    .timeless__content {
      margin-block: 120px; } }

.categories__wrapper {
  display: grid;
  row-gap: 40px; }
  @media (min-width: 576px) {
    .categories__wrapper {
      row-gap: 56px; } }
  .categories__wrapper-button {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr); }
    @media (min-width: 576px) {
      .categories__wrapper-button {
        --columns: 6;
        column-gap: 24px; } }
    @media (min-width: 1024px) {
      .categories__wrapper-button {
        --columns: 12; } }
  
.category__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px; }
  @media (min-width: 576px) {
    .category__title {
      font-size: 24px;
      line-height: 34px; } }
.category__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s; }
  .category__photo:hover {
    transform: scale(1.05); }
.category__photos {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-bottom: 16px; }
  @media (min-width: 576px) {
    .category__photos {
      --columns: 6;
      column-gap: 24px; } }
  @media (min-width: 1024px) {
    .category__photos {
      --columns: 12; } }
.category__link {
  height: 130px; }
  @media (min-width: 576px) {
    .category__link {
      height: 184px; } }
  @media (min-width: 1024px) {
    .category__link {
      height: 324px; } }
  @media (min-width: 576px) {
    .category__link--left {
      grid-column: span 3; } }
  @media (min-width: 1024px) {
    .category__link--left {
      grid-column: span 6; } }
  @media (min-width: 576px) {
    .category__link--right {
      grid-column: span 3; } }
  @media (min-width: 1024px) {
    .category__link--right {
      grid-column: span 6; } }

@media (min-width: 1024px) {
  .contact-us {
    grid-column: 1 / 7; } }
.contact-us__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  margin-bottom: 48px;
  margin-top: 64px; }
  @media (min-width: 576px) {
    .contact-us__title {
      margin-bottom: 56px;
      font-size: 40px;
      margin-top: 120px; } }
  @media (min-width: 1024px) {
    .contact-us__title {
      font-size: 48px; } }

.form {
  display: grid;
  row-gap: 16px; }
  .form__input {
    background-color: #f9f9f9;
    border-radius: 8px;
    border: none;
    height: 48px;
    padding-inline: 16px; }
    .form__input::placeholder {
      font-family: "Manrope", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.15px;
      color: #7e7e83; }
  .form__message {
    border-radius: 8px;
    background-color: #f9f9f9;
    border: none;
    padding: 14px 16px; }
    .form__message::placeholder {
      font-family: "Manrope", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.15px;
      color: #7e7e83; }
  .form__button {
    border-radius: 8px;
    background-color: #f98921;
    height: 56px;
    border: none;
    padding: 0;
    grid-column: 1 / -1;
    cursor: pointer;
    transition-duration: 0.3s; }
    .form__button:hover {
      background-color: #1b2129; }
    .form__button:active {
      background-color: #010810; }
    .form__button-title {
      text-align: center;
      vertical-align: baseline;
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      color: #fff; }
  .form__effects {
    box-sizing: border-box; }
    .form__effects:hover {
      border: 1px solid #dbdbdb; }
    .form__effects:active {
      border: 1px solid #f98921; }

@media (min-width: 1024px) {
  .footer__wrapper {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr); } }
  @media (min-width: 1024px) and (min-width: 576px) {
    .footer__wrapper {
      --columns: 6;
      column-gap: 24px; } }
  @media (min-width: 1024px) and (min-width: 1024px) {
    .footer__wrapper {
      --columns: 12; } }

.footer__content {
  margin-top: 48px;
  display: grid;
  row-gap: 24px; }
  @media (min-width: 576px) {
    .footer__content {
      margin-top: 80px; } }
  @media (min-width: 1024px) {
    .footer__content {
      margin-top: 207px; } }
.footer__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #9393a3;
  margin: 0;
  margin-bottom: 8px; }
.footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #191919;
  margin: 0; }
.footer__field {
  grid-column: 8 / 12; }

.catalog__speakers {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.speakers__title {
  font-size: 50px;
  text-align: center; 
  text-decoration: none;
  color: black;
  justify-content: center;
  margin-left: 500px;
  margin-top: 20px;
}

.speakers__title:hover {
  color: gray;
  cursor: pointer;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px;
  right: 30px;
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: red; 
  color: white;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px;
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #555;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}